#container{
	background-color: rgba(154,205,50, 0.3);
	border-bottom: 7px solid rgba(107,152,0,0.6);	
	width: 100%;
	display: inline-block;
}
.content-text{
	text-align: right;
	padding-right: 50px;
}
.btn{
	position: relative;
	background-color: rgba(107,152,0,0.6);
	width: 400px;
	height: 60px;
	font-size: 30px;
	float: right;
	/*padding: 5px;*/
	border: 3px solid rgba(107,152,0,0.6);
	color: #eee;
	border-radius: 0 0 15px 15px;
}

#logo{
	background: rgba(34,139,34,1);
	color: #eee;
	width: 150px;
	padding: 50px 0 50px 0;
	margin-left: 15px;
	font-size: 15px;
	text-align: center;
	border: 7px solid rgba(107,152,0,1);
	float: right;
}

#lightBlueRec{
	width: 100px;
	height: 90px;
	background-color: #87CEEB;
	position: absolute;
	opacity: 0.7;
}
#blueRec{
	width: 100px;
	height: 90px;
	background-color: blue;
	position: absolute;
	opacity: 0.7;
}

#pinkRec{
	width: 100px;
	height: 90px;
	background-color: #ff87c3;
	position: absolute;
	top: 70px;
	left: 70px;
	opacity: 0.7;
}
#magentaRec{
	width: 100px;
	height: 90px;
	background-color:  #FF00FF;
	position: absolute;
	top: 150px;
	left:200px;
	opacity: 0.7;
}
